<h1>Single</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="arquivo" />
    <input type="submit"/>
</form>

<h1>Array</h1>
<form action="/multiupload" method="POST" enctype="multipart/form-data">
    <input type="file" name="arquivos" multiple/>
    <input type="submit"/>
</form>