<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

<style>
    h1 {
        font-size: 30px;
    }

    li {
        font-size: 18px;
    }
</style>

<div class="container">
    <% if (receita) { %>
        <h1><%= receita.nome %></h1>
        <hr />
        <% const ingredientes = receita.ingredientes.split('\n') %>
        <ul>
            <% for (const ingrediente of ingredientes) { %>
                <li><%= ingrediente %></li>
            <% } %>
        </ul>
    <% } %>
</div>
