<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

<% if (mensagem) { %>
    <h2><%=mensagem%></h2>
<%}%>
<form action="/users/cadastrar" method="POST">
    <label class="label" for="nome">Nome</label>
    <input class="input" type="text" name="nome" required/>
    <label class="label" for="email">Email</label>
    <input class="input" type="email" name="email" placeholder="seuemail@mail.com" required/>
    <label class="label" for="senha">Senha</label>
    <input class="input" type="password" name="senha" required/>
    <input class="button" type="submit" value="Cadastrar"/>
</form>