<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

<form action="/users/login" method="POST">
    <label class="label" for="email">Email</label>
    <input class="input" type="email" name="email" required />
    <label class="label" for="senha">Senha</label>
    <input class="input" type="password" name="senha" required />
    <input class="button" type="submit" value="Entrar" />
</form>