Cadastre seu Pet

<form method="POST" action="/pets/novo">
    <div>
        <label name="nome">Nome do animal</label>
        <br>
        <input type="text" name="nome"/>
    </div>
    <div>
        <label name="dono">Nome do dono</label>
        <br>
        <input type="text" name="dono"/>
    </div>
    <input type="submit"/>
</form>